@import "tailwindcss/base";
@import "tailwindcss/components";
@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/saga-blue/theme.css";
@import "tailwindcss/utilities";
@import "primeicons/primeicons.css";

/* Inert style compatibility */
[aria-hidden="true"] {
  pointer-events: none;
}

/* Custom body styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.main-content {
  padding: 16px;
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tailwind-based utility for visibility */
.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Input field styling to widen when necessary */
.input-field {
  box-sizing: border-box; /* Ensures padding and border are included in width */
}
